<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">
   
   
  <!--  <bean  id="heartobj" class="com.dilip.Autowiring.Heart"></bean>
   
   <bean id="human" class="com.dilip.Autowiring.Human" autowire="byType">
   
    
   </bean>
   
 
    
    
   <bean  id="heart" class="com.dilip.Autowiring.Heart"></bean>
   
   <bean id="human" class="com.dilip.Autowiring.Human" autowire="byName">

   </bean>
   
  
     
     
   <bean  id="heart" class="com.dilip.Autowiring.Heart"></bean>
   
   <bean id="human" class="com.dilip.Autowiring.Human" autowire="constructor">

   </bean>  
   -->
   
    <!-- To use the Spring  annotation -->
    
    <context:annotation-config></context:annotation-config>         <!-- or <context:annotation-config/> -->
    
    
    
    
 
   <bean  id="humanHeart" class="com.dilip.Qualifier_Annotation.Heart">
   
     <property name="nameOfAnimalString" value="human"></property>
     <property name="noOfHeart" value="1"></property>
   
   </bean>
   <bean  id="octopusHeart" class="com.dilip.Qualifier_Annotation.Heart">
   
   <property name="nameOfAnimalString" value="octopus"></property>
   <property name="noOfHeart" value="3"></property>
   
   </bean>
   
   
   
   <bean id="human" class="com.dilip.Qualifier_Annotation.Human" >

   </bean>  
   
       
   </beans>